.operation-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 32px;
  padding: 12px;
  color: white;
  font-size: 28px;
  text-align: left;
  background-color: #1677ff;
  border-radius: 12px;
}
